@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Cairo:wght@400;700&display=swap');

/**
* =======================================================
* ============= GENERAL =================================
* =======================================================
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Cairo', sans-serif;
    /* Modern Arabic font */
    line-height: 1.6;
    color: white;
    overflow-x: hidden;
    background-color: #0A7075;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    color: white;
    line-height: 1.3;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;

}

h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}

h4 {
    font-size: 1rem;
}

a {
    color: white;
    transition: all 300ms ease;
    padding: 8px;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*
============================================================================
*=====================================NAV===================================
============================================================================
*/
nav {
    background: #032f30;
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem rgba(0, 0, 0, 0.2);
}

.nav_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_items {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav_logo {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 10px;
}

.avatar {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.2rem solid #0A7075;

}

.nav_profile {
    margin: 15px;
    position: relative;
    cursor: pointer;
}

.nav_profile ul {
    position: absolute;
    top: 145%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    background: #0A7075;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

/* show nav ul when nav profile is hovered*/
.nav_profile:hover>ul {
    visibility: visible;
    opacity: 1;
}

.nav_profile ul li a {
    padding: 1rem;
    background: #032f30;
    display: block;
    width: 100%;
}

.nav_profile ul li:last-child a {
    background: #0A7075;
    color: wheat;
}

.nav_categories ul {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    background: #032f30;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.nav_categories:hover>ul {
    visibility: visible;
    opacity: 1;
}

.nav_categories ul li a {
    padding: 1rem;
    background: #032f30;
    display: block;
    width: 100%;
}

/*
*===========================================================================
*==============================END of NAV===================================
*===========================================================================
*/
/*
*===========================================================================
*==============================start contact================================
*===========================================================================
*/
#contact {
    width: 100%;
}

.title-section {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 2.5rem;
    color: #faf9f9;
}

.container {
    max-width: 900px;
    background: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.image-container {
    max-width: 250px;
    border-radius: 5px;
    margin-right: 2rem;
}

.image-container img {
    max-width: 100%;
    border-radius: 5px;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact .row input, #contact .row textarea {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #faf9f9;
    border: 1px solid #bbb;
    border-radius: 5px;
    outline: none;
}

textarea {
    resize: none;
}

.btn-primary {
    background-color: rgb(50, 150, 115); 
    color: #fff;
    padding: 10px 20px; /* زيادة حجم الزر */
    font-size: 14px; /* تكبير النص داخل الزر */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
    text-align: center;
}

.btn-primary:hover {
    background-color: rgb(40, 130, 100);
}

.contact {
    text-align: center;
    margin-top: 20px;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    display: inline-block;
    text-decoration: none;
    color: #faf9f9;
    font-size: 18px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social a:hover {
    color: #464849;
}

.social i {
    font-size: 30px;
}
/*
*===========================================================================
*==============================END   contact================================
*===========================================================================
*/
/*
*===========================================================================
*============================== Footer =====================================
*===========================================================================
*/
footer {
    background-color: #032f30;
    padding: 3rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
    direction: rtl;
}

.footer_socials {
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.footer_socials a {
    background: #0A7075;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_socials a:hover {
    background: white;
    color: #032f30;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 35px;
}

footer h4 {
    color: whitesmoke;
    margin-bottom: 0.6rem;
}

footer ul li {
    padding: 0.4rem 0;
}

footer ul a {
    opacity: 0.75;

}

footer ul a:hover {
    letter-spacing: 0.2rem;
    opacity: 1;

}

.footer_copyright {
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid #0A7075;
    margin-top: 4rem;

}

/*
*===========================================================================
*============================== End of footer ==============================
*===========================================================================
*/
